<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogwarts House Quiz</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MedievalSharp&display=swap" rel="stylesheet">

</head>
<body class="bg-1">
    <div class="container">
        <img src="/static/img/Title.png" class="title">
        <h1 class="medievalsharp-regular subtitle">Find Your Hogwarts House</h1>
        <a href="{{ url_for('question', qid=0) }}" class="start-button"><p class="inter-light">Start Quiz</p></a>
    </div>
</body>
</html>